@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2C3E50, #34495E);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    padding-top: 35px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 100%;
    padding: 70px;
    background: linear-gradient(to bottom, #446CB3, #7F8C8D);
    border-radius: 20px;
}

/* Search Component */

.toast {
    position: absolute;
    width: 250px !important;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
}

.toastBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toastBody .closeIcon {
    cursor: pointer;
}

.toastBody .closeIcon:hover {
    height: 18px;
}

.homePage {
    display: inline-block;
    position: relative;
    bottom: 30px;
    color: #1e2f40;
    cursor: pointer;
}

.toHomePageLinkElement {
    color: rgba(255, 255, 255, 0.595);
    text-decoration: none;
}

.toHomePageLinkElement:hover {
    color: white;
}

.toHomePageLinkElement .arrow-icon {
    margin-left: 15px;
}

.toHomePageLinkElement .homePageText {
    font-size: 20px;
    margin: 12px 12px 12px 10px;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-group button {
    min-width: 300px;
    height: 70px;
    line-height: 18px !important;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    letter-spacing: 0.5px;
    border-radius: 10px;
    border: none;
}

.button-group .col-md-6 {
    text-align: center;
}

input.form-control {
    border: 1px solid gray;
    border-top: none;
    outline: none;
}

input.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#searchByCity:hover {
    background-color: #2C3E50;
    color: #fff;
}

#searchByLocation:hover {
    background-color: #3a9961;
}

.btnSearch {
    background-color: #3498db !important;
    color: #fff !important;
    height: 40px;
    border: 1px solid black;
    cursor: pointer;
    border-color: #2C3E50;
}

.btnSearch:hover {
    background-color: #2C3E50 !important;
}

.btn-block {
    margin-top: 5px;
    width: 100%;
    background-color: #2b4763 !important;
    color: #fff !important;
    cursor: pointer;
}

.btn-block:hover {
    background-color: #3a9961 !important;
}



/* Card Component */

.card-container {
    margin-top: 70px;
}

.card {
    width: 275px !important;
    text-align: center;
    margin: 50px auto 0 auto !important;
}

.card-header {
    padding: 20px !important;
    font-size: 25px;
}

.card-body {
    padding: 25px;
}

.card-body .centigrade {
    font-size: 50px;
}

.card-footer {
    height: 107px;
}

.card-footer .card-text {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-footer .max-min {
    font-weight: bold;
}

.card-footer span {
    display: block;
}

.notification {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* keyframes başlangıç */
@keyframes lightRotation {
    0% {
        transform: translateY(0);
        transform: rotate(0deg);
        box-shadow: 0 0 40px 10px rgba(255, 255, 0, 0.8);
        /* Güneşin parlaklığını artır */
    }

    50% {
        transform: translateY(-20px);
        box-shadow: 0 0 60px 15px rgba(255, 255, 0, 0.8);
        /* Güneşin parlaklığını artır */
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 0 0 40px 10px rgba(255, 255, 0, 0.8);
        /* Güneşin parlaklığını artır */
        transform: translateY(0);
    }
}

/* keyframes bitiş */


.light {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    animation: lightRotation 5s infinite linear;
    position: relative;
    top: 120px;
}

/* 550px'den küçük cihaz için görünüm */
@media (max-width: 550px) {

        .container {
           border-radius: 0;
           height: 550px;
        }


}